main {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-color: #50c878;
}
section {
    display: flex;
    justify-content: space-around;
    width: 45%;
    background-color: pink;
}
h1 {
    text-align: center;
}
body {
    width: 100%;
}
input {
    display: none;
}
img:hover {
    cursor: pointer;
}
img {
    height: 100px;
    width: 100px;
}
canvas {
    width: 50%;
    height: 300px;
  }
  body {
      background-color: purple;
  }